### Comparing Weather Temperature Variability for Agricultural Investment Decisions

**context:** An agricultural investment firm is in the process of deciding on a location for a new farming project. Understanding that **consistent** and predictable weather conditions are vital for successful agriculture, the firm aims to evaluate and compare two potential cities based on their temperature stability. The key factor in this decision-making process is the variability in average daily temperatures, as it directly impacts crop growth and agricultural planning.

The firm has provided a dataset, named **"climate_stability_comparison.xlsx"**, to aid in this assessment. This dataset includes the following columns:

- **month:** Indicates the month of the year.
- **Avg Temp City A (°C):** The average daily temperature for City A in each month, measured in degrees Celsius.
- **Avg Temp City B (°C):** The average daily temperature for City B in each month, measured in degrees Celsius.

### Task Objective

- Calculate the standard deviation for average temperatures in both cities.
- Determine which city has a higher temperature variability.
- Decide on the city with more stable (lower variability) temperatures for agricultural investment.

**Import necessary libraries**

In [1]:
import pandas as pd

**1: Data Import**

In [2]:
df = pd.read_excel("climate_stability_comparison.xlsx")
df

        month  Avg Temp City A (°C)  Avg Temp City B (°C)
0     January                    14                    13
1    February                    15                    16
2       March                    14                    18
3       April                    16                    20
4         May                    17                    19
5        June                    18                    23
6        July                    19                    25
7      August                    18                    22
8   September                    17                    18
9     October                    16                    14
10   November                    15                    12
11   December                    14                    13

**2: Calculate standard deviations**

In [3]:
#calculate standard deviation for both City A and City B

# -----> 'City A' standard deviation

df.describe()

       Avg Temp City A (°C)  Avg Temp City B (°C)
count             12.000000             12.000000
mean              16.083333             17.750000
std                1.729862              4.266679
min               14.000000             12.000000
25%               14.750000             13.750000
50%               16.000000             18.000000
75%               17.250000             20.500000
max               19.000000             25.000000

In [7]:
city_a = df["Avg Temp City A (°C)"].std()

In [8]:
# -----> 'City B' standard deviation

city_b = df["Avg Temp City B (°C)"].std()

**3: Comparison**

In [9]:
# Decision Making
if city_a < city_b:
    print("Invest in City A due to more stable temperature conditions.")
else:
    print("Invest in City B due to more stable temperature conditions.")

Invest in City A due to more stable temperature conditions.

**4: Observation and Decision**

In [ ]:
 on the city A with more stable (lower variability) temperatures for agricultural investment.